body {
  margin: 15px auto;
  padding: 10px;
  max-width: 700px;
}
body::after {
  content: "";
  background-image: url(../images/weather-image.jpg);
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

h1 {
  text-align: center;
  color: #1a1831;
  font-size: 40px;
  line-height: 45px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
}
h2 {
  color: #20615b;
  font-size: 18px;
  line-height: 25px;
}
h3 {
  color: #a21232;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.surround {
  border: 2px solid #1a1831;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: rgb(217, 231, 243);
}
.your-location {
  background-color: #20615b;
}
.today-icon {
  text-align: center;
  font-size: 50px;
  color: #1a1831;
}
.now-temp {
  font-size: 55px;
  color: #a21232;
  text-align: center;
  font-weight: bold;
}

.f-temp {
  font-size: 18px;
  color: #1a1831;
  text-align: left;
}
.c-temp {
  font-size: 25px;
  color: #a21232;
  text-align: left;
}

.selected-unit {
  font-size: 25px;
  color: #a21232;
  cursor: default;
}

.today-details {
  font-size: 12px;
}

.week-days {
  font-family: "Lobster", cursive;
  color: #1a1831;
  text-align: center;
  padding-bottom: 10px;
}
.week-temp {
  font-size: 11px;
  color: #a21232;
  text-align: center;
}
.week-max {
  font-weight: bold;
}
.week-icon {
  text-align: center;
}

.footer {
  font-size: 10px;
  color: #20615b;
  margin: 5px 25px;
}

.fa-map-marker-alt {
  color: #1a1831;
}
